a:link {
  color: #FF0000;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: #FF0000;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #AA0000;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #0000FF;
  background-color: transparent;
  text-decoration: underline;
}
